<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Traffic Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/livetraffic.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><img src="{{ url_for('static', filename='images/Traffic.svg') }}" alt="LOGO"></h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">Traffic Analysis</a></li>
                    <li><a href="#">LIVE TRAFFIC</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
    </header>
    
    <section id="live-traffic" class="live-traffic main">
        <div class="grid">
            <div class="video-feed">
                <h2 class="headlive1"> Live Veichle Detection</h2>
                <h2 class="headlive3"> (High) </h2>
                <video id="traffic-video" autoplay>
                    <source src="{{ url_for('static', filename='images/detection.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div>
                <h2 class="headlive2"> Live Traffic Signal </h2>
                <div class="traffic-light">
                    <div class="light" id="red"></div>
                    <div class="light" id="yellow"></div>
                    <div class="light" id="green"></div>

                </div>

            </div>

        </div>
       
    </section>
    
    <footer>
        <p>&copy; 2024 Traffic Monitor. All Rights Reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/livetraffic.js') }}"></script>
</body>
</html>
