beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
filelock==3.16.1
Flask==3.0.3
gdown==5.2.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pandas==2.2.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==69.5.1
six==1.16.0
soupsieve==2.6
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.3
Werkzeug==3.0.3
wheel==0.43.0
